// Local Fonts

@font-face {
  font-family: 'Garaje';
  font-weight: 1000;
  font-style: normal;
  src: url('../fonts/garaje/Garaje-black.woff2') format('woff2');
}

@font-face {
  font-family: 'Garaje';
  font-weight: 1000;
  font-style: oblique;
  src: url('../fonts/garaje/GarajeMonospace0504Trial-Black.woff2') format('woff2');
}

@font-face {
  font-family: 'Stratos';
  font-weight: 500;
  font-style: normal;
  src: url('../fonts/stratos/Stratos-Medium.woff2') format('woff2');
}

@font-face {
  font-family: 'Bridge-Text';
  font-weight: 400;
  font-style: normal;
  src: url('../fonts/bridge-text/Bridge-Text-Regular.woff2') format('woff2');
}

@font-face {
  font-family: 'Px-Grotesk';
  font-weight: 400;
  font-style: normal;
  src: url('../fonts/grotesk/Px_Grotesk-Screen.woff2') format('woff2');
}

@font-face {
  font-family: 'Dolcetto';
  font-weight: 700;
  font-style: normal;
  src: url('../fonts/dolcetto/Dolcetto-Bold.woff2') format('woff2');
}

@font-face {
  font-family: 'Ofform';
  font-weight: 400;
  font-style: normal;
  src: url('../fonts/ofform/OfformTRIAL-Regular.woff2') format('woff2');
}
