// Local Fonts

@font-face {
  font-family: 'Garaje';
  font-weight: 1000;
  font-style: normal;
  src: url('../fonts/garaje/Garaje-black.woff2') format('woff2');
}

@font-face {
  font-family: 'Stratos';
  font-weight: 500;
  font-style: normal;
  src: url('../fonts/stratos/Stratos-Medium.woff2') format('woff2');
}

@font-face {
  font-family: 'Bridge-Text';
  font-weight: 400;
  font-style: normal;
  src: url('../fonts/bridge-text/Bridge-Text-Regular.woff2') format('woff2');
}
