@import '../mixins/mixins-foundation';

// Colors
$white: #ffffff;
$black: #000000;
$navy: #00205b;
$navy-light: #e4edff;
$sky-blue: #a8d5fb;
$neon: #cdff00;
$gold: #ebe8dc;
$gold-dark: #a89968;

// Fonts
$font-primary: 'Stratos', serif;
$font-secondary: 'Garaje', serif;
$font-tertiary: 'Bridge-Text', serif;

// Grid
$grid-max-width: rem-calc(1280px);
$grid-column-gutter: (
  small: 20px,
  large: 40px,
);

// Site Margins
$site-margin: (
  small: 30px,
  large: 60px,
);

// Easing
$ease-default: ease-in-out;

// Transitions
$transition-default: 0.2s $ease-default;
