.breadcrumbs {
  display: flex;
  align-items: center;
  height: 40px;
  background-color: $gold;

  ul {
    grid-column: span 12 / span 12;
    display: flex;
    align-items: center;
  }

  li {
    @include nav-style-1();
    display: inline-flex;
    align-items: center;
  }

  li + li {
    margin-left: 12px;
  }

  a {
    color: $navy;
    text-decoration: none;
    transition: $transition-default;

    &:hover {
      text-decoration: underline;
    }
  }

  svg {
    width: 8px;
    margin-right: 12px;
    fill: $gold-dark;
  }
}