// Buttons
/* ------------------------------------- */

.btn {

  &--dark {
    @include btn($navy, transparent, $white);
  }

  &--light {
    @include btn($white, transparent, $navy);
  }
}

.arrow-btn {

  &--dark {
    @include arrow-btn($navy, $navy);
  }

  &--light {
    @include arrow-btn($white, $white);
  }

  &--reversed {
    flex-direction: row-reverse;

    &:hover svg {
      margin-left: 0;
      margin-right: 16px;
    }

    svg {
      margin-left: 0;
      margin-right: 10px;
      transform: rotate(180deg);
    }
  }

  &--hidden {
    width: 0;
    visibility: hidden;
  }
}


// Button Group
/* ------------------------------------- */

.button-group {
  display: flex;
  flex-wrap: wrap;
  gap: rem-calc(16px);
}

.wp-element-button {
  @extend .btn--dark;
}
