// Forms
/* ------------------------------------- */

// Reset common styles for form elements
button, input, optgroup, select, textarea {
  appearance: none;
  margin: 0;
  padding: 0;
  line-height: inherit;
  font-family: inherit;
  font-size: 100%;
  color: inherit;
}

// GravityForms
.gform_wrapper.gravity-theme {
  @extend .grid;
}

body .gform_wrapper.gravity-theme {
  padding-top: 60px;
  padding-bottom: 60px;

  @include breakpoint(large) {
    padding-top: 100px;
    padding-bottom: 100px;
  }

  input:not([type="radio"]):not([type="checkbox"]):not([type="image"]):not([type="file"]) {
    line-height: initial;
    min-height: initial;
  }

  input[type="date"],
  input[type="datetime-local"],
  input[type="email"],
  input[type="month"],
  input[type="number"],
  input[type="password"],
  input[type="search"],
  input[type="tel"],
  input[type="text"],
  input[type="time"],
  input[type="url"],
  input[type="week"],
  input:not([type]),
  textarea,
  select {
    background-color: $white;
    border: 1px solid $navy;
    border-radius: 0;
    padding: 8px 12px !important;
    width: 100%;
    min-height: 40px;
    line-height: 140%;
    font-size: rem-calc(16px);
    transition: background-color $transition-default, border-color $transition-default;

    &:focus {
      outline: 1px solid $navy;
      outline-offset: 0;
    }

    &:hover {
      background-color: $navy-light;
    }

    &::placeholder {
      opacity: 0.6;
      color: $navy;
    }

    @include breakpoint(medium) {
      padding: 12px 16px !important;
    }
  }

  input[type="checkbox"],
  input[type="radio"] {
    position: relative;
    flex-shrink: 0;
    margin: 0;
    border: 1px solid $navy;
    height: 1.5em;
    width: 1.5em;
    vertical-align: middle;
    background-color: $white;
    appearance: none;

    &:hover {
      background-color: $navy-light;
    }

    &:focus {
      outline: solid 2px;
      outline-offset: 1px;
    }

    &::before {
      content: "";
      position: absolute;
      top: 0;
      right: 0;
      bottom: 0;
      left: 0;
      margin: auto;
      overflow: hidden;
    }
  }

  input[type="radio"] {
    border-radius: 50%;

    &:checked::before {
      border-radius: 50%;
      background: $navy;
      margin: 5px;
    }
  }

  input[type="checkbox"] {
    border-radius: 2px;
    
    &:checked::before {
      display: inline-block;
      height: 6px;
      width: 12px;
      border-left: 2px solid;
      border-bottom: 2px solid;
      
      transform: rotate(-45deg);
    }
  }

  textarea {
  }

  select {
    padding-right: 35px;
    background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' fill='none' viewBox='0 0 20 20'%3e%3cpath stroke='%2300205b' stroke-linecap='round' stroke-linejoin='round' stroke-width='1.5' d='M6 8l4 4 4-4'/%3e%3c/svg%3e");
    background-position: right 8px center;
    background-repeat: no-repeat;
    background-size: 24px 24px;
  }

  input[type="submit"],
  button {
    @include btn($navy, transparent, $white);

    &:focus {
      transition: none;
      outline: 1px solid;
      outline-offset: 0;
    }
  }

  label,
  legend,
  .gfield_label {
    display: block;
    margin-bottom: 4px;
    font-family: $font-primary;
    font-size: rem-calc(14px);
    font-weight: 500;
    font-style: normal;
    line-height: 160%;
  
    @include breakpoint(medium) {
      font-size: rem-calc(16px);
    }
  }

  > * {
    grid-column: span 12 / span 12;
  }

  .gform_fields {
    row-gap: 24px;
  }

  .gform_heading {
    margin-bottom: 48px;
  }

  .gform_title {
    @include heading-style-3;

    & + {
      .gform_description {
        @extend .paragraph-style-2;
        margin-top: 16px;
      }
    }
  }

  .gfield {
    @include breakpoint(medium) {
      max-width: 66%;
    }
  }

  .gfield.gfield--width-half {
    @include breakpoint(medium) {
      grid-column: span 4;
      max-width: none;
    }
  }

  .gfield.gfield--width-third {
    @include breakpoint(medium) {
      max-width: none;
    }
  }

  .gfield-choice-input + label {
    margin: 4px 0 4px 8px;
    font-family: $font-tertiary;
    font-size: rem-calc(16px);
    font-weight: 400;
    font-style: normal;
    line-height: 160%;

    @include breakpoint(medium) {
      font-size: rem-calc(18px);
    }
  }

  .ginput_complex .ginput_container_date select {
    min-width: 105px;
  }

  .gform_validation_errors,
  .gform_required_legend {
    position: absolute;
    width: 1px;
    height: 1px;
    padding: 0;
    margin: -1px;
    overflow: hidden;
    clip: rect(0, 0, 0, 0);
    border: 0;
  }

  .gform_validation_errors {
    border-radius: 0;
    font-size: rem-calc(12px);
  }

  .gfield_description {
    border: 0;
    padding: 0 !important;
    background: none;
    font-size: rem-calc(12px);
  }

  .grecaptcha-badge {
    display: none;
  }
}

.gravity-theme {
  .gform_confirmation_message {
    @include heading-style-4;
    padding: 60px 20px;
    text-align: center;

    @include breakpoint(medium) {
      padding-top: 100px;
      padding-bottom: 100px;
    }
  }
}

// Large search bar
.search-form {
  position: relative;

  &__input {
    @extend .heading-style-4;
    font-size: rem-calc(24px);
    appearance: none;
    background-color: $white;
    border: 0;
    border-bottom: 1px solid $sky-blue;
    padding: 12px 40px 12px 0;
    max-width: none;
    width: 100%;
    line-height: 120%;
    transition: background-color $transition-default, border-color $transition-default;

    @include breakpoint(medium) {
      font-size: rem-calc(36px);
    }

    &:hover,
    &:focus {
      background-color: transparent;
      border-bottom-color: $navy;
      outline: none;
      outline-offset: 0;
    }

    &::placeholder {
      opacity: 100;
      color: $navy;
    }
  }
  &__submit {
    position: absolute;
    top: 0;
    bottom: 0;
    right: 0;
    cursor: pointer;
    border: none;
    background: none;
  }
}

// Filter select dropdown menus
.filter-select {
  @extend .subheading-style-2;
  appearance: none;
  background-color: $white;
  border: 1px solid #7e9ad1;
  border-radius: 4px;
  padding: 12px 40px 12px 12px;
  width: 100%;
  background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' fill='none' viewBox='0 0 20 20'%3e%3cpath stroke='%2300205b' stroke-linecap='round' stroke-linejoin='round' stroke-width='1.5' d='M6 8l4 4 4-4'/%3e%3c/svg%3e");
  background-position: right 8px center;
  background-repeat: no-repeat;
  background-size: 24px 24px;
  transition: background-color $transition-default, border-color $transition-default;
  text-transform: initial;

  &:hover,
  &:focus {
    background-color: transparent;
    border-color: $navy;
  }

  &--yellow {
    background-color: $yellow-light;
    border-color: $yellow-brown;

    &:hover,
    &:focus {
      background-color: $yellow-light;
    }
  }
}

// Clear filtered results button
.form-clear-btn {
  @extend .subheading-style-2;
  appearance: none;
  background-color: $yellow-light;
  border: 1px solid $yellow-brown;
  border-radius: 4px;
  cursor: pointer;
  padding: 12px 40px 12px 12px;
  background-image: url('data:image/svg+xml,<svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" viewBox="0 0 20 20" fill="%2300205b"><path fill-rule="evenodd" clip-rule="evenodd" d="M7.70712 3.29289C8.09765 3.68342 8.09765 4.31658 7.70712 4.70711L5.41422 7H11C14.866 7 18 10.134 18 14V16C18 16.5523 17.5523 17 17 17C16.4478 17 16 16.5523 16 16V14C16 11.2386 13.7615 9 11 9H5.41422L7.70712 11.2929C8.09765 11.6834 8.09765 12.3166 7.70712 12.7071C7.3166 13.0976 6.68343 13.0976 6.29291 12.7071L2.29289 8.70711C1.90237 8.31658 1.90237 7.68342 2.29289 7.29289L6.29291 3.29289C6.68343 2.90237 7.3166 2.90237 7.70712 3.29289Z" /></svg>');
  background-position: right 8px center;
  background-repeat: no-repeat;
  background-size: 20px 20px;
  transition: background-color $transition-default, border-color $transition-default;
}
