.banner {
  display: flex;
  align-items: center;
  padding: 8px 0;
  background-color: $neon;

  &__main {
    grid-column: span 12 / span 12;
  }

  p {
    @include nav-style-1;

    color: $navy;

    @include breakpoint(medium) {
      text-align: center;
    }

    a {
      text-decoration: none;

      &:hover {
        text-decoration: underline;
      }
    }
  }
}