.pagination {
  margin-top: 60px;

  &__inner {
    display: flex;
    justify-content: space-between;
  }

  &__item {
    display: inline-block;
  
    a {
      @include subheading-style-2();

      display: flex;
      align-items: center;
      justify-content: center;
      width: 24px;
      height: 24px;
      text-decoration: none;
      color: $navy;
      background-color: transparent;
      border-radius: 50%;
      transition: $transition-default;

      @include breakpoint(medium) {
        width: 32px;
        height: 32px;
      }

      &:hover {
        background-color: $sky-blue;
      }
    }

    &--active {
      a {
        background-color: #8fb7ff;
      }
    }
  }

  &__item + &__item {
    margin-left: 16px;
  }
}