.miscellaneous-section {

  &__inner + &__inner {
    margin-top: 16px;

    @include breakpoint(medium) {
      margin-top: 24px;
    }
  }

  &__intro {
    grid-column: span 12 / span 12;
  }

  &__main,
  &__secondary {
    grid-column: span 12 / span 12;
  }

  &__main {
    @include breakpoint(medium) {
      grid-column: span 7 / span 7;
    }
  }

  &__main + &__secondary {
    margin-top: 48px;

    @include breakpoint(medium) {
      margin-top: 0;
    }
  }

  &__secondary {
    @include breakpoint(medium) {
      grid-column: span 5 / span 5;
    }
  }
}