.wysiwyg {
  // The reason why we target DIRECT CHILDREN in the wysiwyg is
  // to better harmonize these styles with independent block styles
  // coming from the Gutenberg editor while they share the same div
  // on the front-end and allows us to retain the seamnless
  // out-of-the-box editor experience that comes from Wordpress
  // Additionally, we have forced h1 and h2 elements to inherit
  // smaller styles as to not compete aesthetically with the
  // actual page header
  // ~ Greg

  > h1 { @extend .heading-style-2; }

  > h2 { @extend .heading-style-3; }

  > h3 { @extend .heading-style-4; }

  > h4 { @extend .heading-style-5; }

  > h5 { @extend .heading-style-6; }

  > h6 { @extend .heading-style-6; }

  > h1,
  > h2,
  > h3,
  > h4,
  > h5,
  > h6 {
    + figure,
    + .wp-block-image {
      margin-top: 32px;

      @include breakpoint(medium) {
        margin-top: 48px;
      }
    }
  }

  > p,
  > ul {
    @extend .paragraph-style-2;

    a {
      color: $navy;
      text-decoration: underline;
      transition: $transition-default;

      &:hover {
        text-decoration: none;
      }
    }

    li + li {
      margin-top: 10px;
    }

    + figure,
    + .wp-block-image {
      margin-top: 32px;

      @include breakpoint(medium) {
        margin-top: 48px;
      }
    }
  }

  > ol {
    @extend .paragraph-style-4;

    a {
      padding-right: 26px;
      color: $navy;
      text-decoration: none;
      transition: $transition-default;
      background: url('../images/svgs/icon-arrow.svg') no-repeat;
      background-size: 16px;
      background-position: right center;

      &:hover {
        padding-right: 32px;
        text-decoration: underline;
      }
    }

    li {
      margin-left: 33px;
      list-style-type: decimal-leading-zero;

      @include breakpoint(large) {
        margin-left: 43px;
      }

      &::marker {
        color: #6c6c6c;
      }
    }

    li + li {
      margin-top: 16px;
    }
  }

  > ul {
    li {
      margin-left: 16px;
      list-style-type: disc;

      &::marker {
        color: #655B3A;
      }
    }
  }

  > figure,
  > .wp-block-image {
    margin-bottom: 48px;

    @include breakpoint(medium) {
      margin-bottom: 80px;
    }
  }

  > .accordion {
    margin: 48px 0;
  }
}