@use "sass:map";

.logo-grid {
  padding: 60px 0;

  @include breakpoint(large) {
    padding: 100px 0;
  }

  &__main {
    display: grid;
    justify-content: center;
    grid-template-columns: repeat(10, minmax(0, 1fr));
    grid-column: span 12 / span 12;
    gap: map.get($grid-column-gutter, small);

    @include breakpoint(large) {
      grid-column: span 10 / span 10;
      grid-column-start: 2;
    }
  }

  &__image {
    grid-column: span 5 / span 5;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 60px;

    @include breakpoint(medium) {
      grid-column: span 2 / span 2;
    }
  }

  img {
    max-width: 90%;
    max-height: 60px;
    object-fit: contain;

    @include breakpoint(medium) {
      max-width: 70%;
      max-height: 50px;
    }

    @include breakpoint(large) {
      max-width: 80%;
      max-height: 60px;
    }
  }
}