@mixin display-heading-style-1() {
  font-family: $font-secondary;
  font-size: rem-calc(72px);
  font-weight: 1000;
  font-style: normal;
  line-height: 80%;
  letter-spacing: -0.02em;
  text-transform: uppercase;

  @include breakpoint(large) {
    font-size: rem-calc(112px);
  }
  @include breakpoint(xlarge) {
    font-size: rem-calc(144px);
  }
}

@mixin heading-style-1() {
  font-family: $font-secondary;
  font-size: rem-calc(48px);
  font-weight: 1000;
  font-style: normal;
  line-height: 120%;
  letter-spacing: -0.02em;
  text-transform: uppercase;

  @include breakpoint(large) {
    font-size: rem-calc(72px);
  }
}

@mixin heading-style-2() {
  font-family: $font-primary;
  font-size: rem-calc(30px);
  font-weight: 500;
  font-style: normal;
  line-height: 120%;
  letter-spacing: -0.02em;

  @include breakpoint(large) {
    font-size: rem-calc(60px);
  }
}

@mixin heading-style-3() {
  font-family: $font-primary;
  font-size: rem-calc(30px);
  font-weight: 500;
  font-style: normal;
  line-height: 120%;
  letter-spacing: -0.02em;

  @include breakpoint(large) {
    font-size: rem-calc(48px);
  }
}

@mixin heading-style-4() {
  font-family: $font-primary;
  font-size: rem-calc(20px);
  font-weight: 500;
  font-style: normal;
  line-height: 120%;
  letter-spacing: -0.02em;

  @include breakpoint(large) {
    font-size: rem-calc(30px);
  }
}

@mixin heading-style-5() {
  font-family: $font-primary;
  font-size: rem-calc(18px);
  font-weight: 500;
  font-style: normal;
  line-height: 120%;
  letter-spacing: -0.02em;

  @include breakpoint(large) {
    font-size: rem-calc(24px);
  }
}

@mixin heading-style-6() {
  font-family: $font-primary;
  font-size: rem-calc(18px);
  font-weight: 500;
  font-style: normal;
  line-height: 120%;
  letter-spacing: -0.02em;
}

@mixin subheading-style-1() {
  font-family: $font-secondary;
  font-size: rem-calc(14px);
  font-weight: 1000;
  font-style: oblique;
  line-height: 120%;
  text-transform: uppercase;

  @include breakpoint(large) {
    font-size: rem-calc(16px);
  }
}

@mixin paragraph-style-1() {
  font-family: $font-primary;
  font-size: rem-calc(16px);
  font-weight: 500;
  font-style: normal;
  line-height: 160%;

  @include breakpoint(large) {
    font-size: rem-calc(18px);
  }
}

@mixin paragraph-style-2() {
  font-family: $font-tertiary;
  font-size: rem-calc(16px);
  font-weight: 400;
  font-style: normal;
  line-height: 160%;

  @include breakpoint(large) {
    font-size: rem-calc(18px);
  }
}

@mixin paragraph-style-3() {
  font-family: $font-tertiary;
  font-size: rem-calc(14px);
  font-weight: 400;
  font-style: normal;
  line-height: 160%;

  @include breakpoint(large) {
    font-size: rem-calc(16px);
  }
}

@mixin paragraph-style-4() {
  font-family: $font-tertiary;
  font-size: rem-calc(18px);
  font-weight: 500;
  font-style: normal;
  line-height: 160%;

  @include breakpoint(large) {
    font-size: rem-calc(24px);
  }
}
